certifi
charset
click
convcolors
cycler
easyocr
extcolors
Flask
fonttools
idna
imageio
importlib
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
opencv
opencv
packaging
pandas
Pillow
pyparsing
pytesseract
python
python
pytz
PyWavelets
PyYAML
requests
scikit
scipy
six
textdistance
tifffile
torch
torchvision
typing_extensions
urllib3
Werkzeug
zipp