<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>AdFlow App - Fetching</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fetch.css') }}">
</head>

<body>
  <nav>
    <h2>Adflow I.A.</h2>
    <div>
      <a href="#">Inicio</a>
      <a href="#" class="active">Refinando</a>
    </div>
  </nav>
  <section>
    <img src="{{ url_for('static', filename='img/adflow_logo.PNG') }}" alt="adflow_logo" width="300" height="75" class="logo">
    <div class="container">
      <h1 class="title">Refina tu Imagen</h1>
      <p class="description">
        ¡Listo! Ahora utiliiza las recomendaciones del algoritmo, modifica tu
        imagen para tener una calificación óptima, da click en los resultados
        negativos para ver la recomendación
      </p>
    </div>
    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <h2 class="text-center mb-5">Listado de datos</h2>
          <div class="my-3">
            <table class="table table-customized shadow-sm p-3 mb-5 bg-white rounded" id="lista-Datos">
              <thead>
                <tr>
                  <th scope="col">Nicho</th>
                  <th scope="col">Texto Extraido</th>
                  <th scope="col">Texto Sugerido</th>
                </tr>
                <tr>
                  <td>{{ nicho }}</td>
                  <td>{{ TextoExtraido }}</td>
                  <td>{{ TextoSugerido }}</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h2>anuncio analizado</h2>
    <img src="{{ img }}" alt="Anuncio analizado" class="d-flex justify-content-center mx-5 image-output shadow p-3 mb-5 bg-white rounded">
    <h1>Paleta de colores del anuncio</h1>
    <img src="{{ po }}" alt="Paleta del anuncio" class="d-flex justify-content-center mx-5 image-output shadow p-3 mb-5 bg-white rounded">
    <h3>Se detectaron {{npalabras}} palabras <br> Los mejores anuncios contienen hasta 45 palabras <br> consideralo</h3>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
